@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.esquerda {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}