@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: url(/images/back-network.png) top center no-repeat;
}

.esquerda {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}